# PostgreSQL
POSTGRES_DB=movies_db
POSTGRES_DB_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=some_password
POSTGRES_HOST=postgres_theater
# JWT keys
SECRET_KEY_ACCESS=<secret_key_accsess>
SECRET_KEY_REFRESH=<secret_key_refresh>
JWT_SIGNING_ALGORITHM=HS256
# Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
# Email
MAIL_HOST=mailhog_theater
MAIL_PORT=1025
# MAIL_HOST=smtp.gmail.com
# MAIL_PORT=587
MAIL_USERNAME=<mail:username>
MAIL_PASSWORD=<mail:password>
MAIL_FROM=<mail:from>
# MailHog for dev
MAILHOG_USER=<mailhog:user>
MAILHOG_PASSWORD=<mailhog:password>